<?xml version="1.0" encoding="utf-8"?>
<!-- https://learn.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior -->
<!-- https://learn.microsoft.com/en-us/nuget/reference/nuget-config-file -->
<configuration>

  <config>
    <!-- <add key="repositoryPath" value="$\.nupkgs" /> -->
  </config>

  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <!-- https://learn.microsoft.com/en-us/nuget/consume-packages/package-source-mapping#package-pattern-precedence -->
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>

  <packageRestore>
      <!-- <add key="enabled" value="True" /> -->
      <!-- <add key="automatic" value="True" /> -->
  </packageRestore>

</configuration>